@use './sections/head/head';
@use './sections/AboutUs/About';
@use './sections/AboutUs2/About2';
@use './sections/Products/products';
@use './sections/Quotation/quotation';
@use './sections/ContactUs2/ContactUs2';
@use './sections/Foot/Foot';

@use './helpers/helpers' as *;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    opacity: 0;

    transition: {
        property: all;
        duration: 1s
    }

}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.showing {
    opacity: 1;
    transform: translateX(0);
}

#preloader {
    border: solid black 1px;
    width: 20%;
    height: 30px;
    margin: auto;
    margin-top: 300px;
}